body {
  margin: 0;
}

#newsletter {
  background-color: purple;

  display: flex;
  justify-content: space-between;
}

#newsletter img {
  width: 50px;
}
.logo{
  position: absolute;
}

#newsletter .logo img {
  filter: brightness(80);
}

#champs_newsletter {
  margin: 10px auto 10px auto;
}

#champs_newsletter span {
  color: rgba(255, 255, 255, 0.61);

  margin-right: 5px;
}

#champs_newsletter input {
  border-color: rgb(248, 248, 248, 0);
  border-radius: 3px ;

  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='5' y='15' fill='gray' font-size='15'>eMail</text></svg>");
  background-repeat: no-repeat;
}

#champs_newsletter input:focus {
  background-image: none;
}



#champs_newsletter button {
  background-color: #00e276;
  color: rgb(255, 255, 255, 0.4);

  margin-left: 5px;

  border-color: rgb(248, 248, 248, 0);
  border-radius: 3px;
}


/* en travail */
nav {
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  padding-bottom: 20px;
}

nav div{
  display: inline-block;
}

nav .logo {
  display: block;

  border-right: rgb(0, 0, 0, 0.2) 1px solid;
}

nav img {
  width: 100px;
  height: auto;

  margin: 15px 50px 15px 50px;
}

nav .menu {
  padding-top: 10px;
}

nav ul {
  list-style-type: none;

  padding: 0;
  
  margin-left: 600px;
}

nav li {
	display: inline;

  margin: auto 10px auto 10px;
}


nav li:last-child {
  margin-left: 450px;
}

nav a {
  display: inline-block;

  color: black;

  text-decoration: none;
}

nav a::after {
  display: block;
  content: " ";

  border-bottom: solid 2px black;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 1s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}
/* CONTENU */
#contenu {
  margin: 5% 25% 5% 25%;
  opacity: 0.52;
}

#contenu h1 {
  position: relative;
  z-index: 1;
  text-align: center;

  padding-bottom: 40px;

  font-size: 40px;
}

#contenu h1::after {
  content: "";
  position: absolute;
  left: 48%;
  bottom: 0;
  width: 20px;
  border-bottom: 1px solid purple;
}


#contenu li {
  font-weight: bold;

  list-style: none;

  margin-bottom: 10px;
}

#contenu li::before {
  content: "•"; 
  color: purple;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

#contenu li {
  padding-top: 10px;

  font-weight: bold;

}


/* FOOTER */
footer {
  background-color: #252525;

  margin-bottom: 0;
}

footer::before {
  content: " ";
  display: block;

  background-color: rgba(255, 255, 255, 0.1);

  width: 100%;
  height: 1px;

  position: relative;
  top: 110px;
}

footer #section {
  padding-top: 50px;
}

footer .section {
  display: flex;

  align-items: center;
  justify-content: center;
}

footer section div {
  margin: auto 30px 70px 30px;
}

footer a {
  color: white;

  text-decoration: none;
}

footer>img {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  width: 150px;
  height: auto;

  
}

footer p {
  color: rgba(255, 255, 255, 0.205);

  display: flex;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;

  margin-bottom: 0;
}